# Managed by ansible
# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
allow-hotplug {{ ansible_default_ipv4.interface }}
iface {{ ansible_default_ipv4.interface }} inet static
	address {{ network.ip }}{{ network.cidr | default('/24') }}
	gateway {{ network.gateway }}
	dns-nameservers {{ network.dns }}
	dns-search {{ domain }}

{% for extra_ip in network.extra_ips %}
iface {{ ansible_default_ipv4.interface }} inet static
	address {{ extra_ip }}{{ network.cidr | default('/24') }}
{% endfor %}

{% if network.raw_extra is defined %}
  {{ network.raw_extra }}
{% endif %}
