server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /promtail/positions.yaml

clients:
  - url: {{ loki.url }}

scrape_configs:
  - job_name: system
    static_configs:
    - targets:
        - localhost
      labels:
        job: vmware_guest_logs
        __path__: /var/log/vmware*.log
    - targets:
        - localhost
      labels:
        job: messages
        __path__: /var/log/messages
    - targets:
        - localhost
      labels:
        job: syslog
        __path__: /var/log/syslog
    - targets:
        - localhost
      labels:
        job: user_logs
        __path__: /var/log/user.log
    - targets:
        - localhost
      labels:
        job: daemon_logs
        __path__: /var/log/daemon.log
    - targets:
        - localhost
      labels:
        job: kernel_logs
        __path__: /var/log/kern.log
    - targets:
        - localhost
      labels:
        job: auth_logs
        __path__: /var/log/auth.log
    - targets:
        - localhost
      labels:
        job: varlogs
        __path__: /var/log/*log
  - job_name: journal
    journal:
      json: false
      max_age: 12h
      path: /var/log/journal
      labels:
        job: systemd-journal
    relabel_configs:
      - source_labels: ['__journal__systemd_unit']
        target_label: 'unit'
